@model SchoolManagment.Models.Department

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Department Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt >
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="form-control">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class="form-control">
            @Html.DisplayFor(model => model.Manager)
        </dd>
    </dl>
</div>
<div class="d-flex">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-secondary ms-2" asp-action="Index">Back to List</a>
</div>
